rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() { return request.auth != null; }
    function isOwner(userId) { return isSignedIn() && request.auth.uid == userId; }

    // User-private data
    match /users/{uid}/{document=**} {
      allow read, write: if isOwner(uid);
    }

    // Public, read-only
    match /config/{docId} {
      allow read: if true;
      allow write: if false;
    }

    match /public/{document=**} {
      allow read: if true;
      allow write: if false;
    }
  }
}
